
<center>
<h1>Nueva Persona</h1>

 <img src="https://www.google.com.mx/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjcu8n6sd_VAhVS3mMKHVBuBYkQjRwIBw&url=http%3A%2F%2Fvecinoscaucel.com%2Fclasificados-de-ciudad-caucel%2Fmostrar-anuncio%2F112%2Fservicio-de-terapia-fisica-y-rehabilitacion-a-domicilio%2Fmerida-yucatan%2Fyucatan%2Fservicios-profesionales%2F&psig=AFQjCNH7cbCc2sVjKJKDoXIuyCPLE3RWIA&ust=1503097779641739" alt="" style="width: 100px; height: 200px">


<%= render 'form', user: @user %>

<%= link_to 'Personas registradas', users_path %>

<%= link_to 'Reporte', users_reporte_path %>

</center>