<!DOCTYPE html>
<html>
  <head>
    <title>Personas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div style="text-align: center;">
 
 <img src="http://kubaspaziodayspa.yolasite.com/resources/2.jpg?timestamp=1400013848851" alt="" style="width: 500px; height: 200px">
	
</div>



    <%= yield %>
  </body>
</html>
